xsd/ac/xmp_terms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmp="http://ns.adobe.com/xap/1.0/" targetNamespace="http://ns.adobe.com/xap/1.0/" version="2015-03-19">
	<xs:element name="MetadataDate" type="xs:dateTime"></xs:element>
	<xs:element name="CreateDate" type="xs:dateTime"></xs:element>
	<xs:element name="Rating" type="xs:dateTime"></xs:element>
</xs:schema>
